$font-url: 'fonts/';

$black: #151515;
$greyDarker: #1d1b20;
$greyDarkBg: #1f1c24;
$greyDarkBgBtn: #3d3944;
$greyDark: #2a2630;
$greyMedium: #302c35;
$greyTextDark: #45494d;
$greyTextLight: #737980;
$grey: #737980;
$greyLight: #b3b3b3;
$greyBgButtons: #ebeef0;
$greyExtraLight: #f7f7f7;
$white: #fff;

$primary: #49d5da;

$blue: #a4dfe5;
$orange: #df6134;
$green: #52cc7a;

$font-text: 'Work Sans', sans-serif;
$font-header: 'Bebas Neue', sans-serif;